

// Process Parameters:

// Process Parameters for PSI_Sigma_prep:
params.PSI_Sigma_prep.PSI_sigma_parameters =  "--nread 10 --type 1 --irmode 1 --skipratio 0.05 --denominator 0 --irrange 10 --adjp 2"  //* @input @description:"PSI sigma parameters"
params.PSI_Sigma_prep.gct_parameters =  "10 20 0.05 greater"  //* @input @description:"gct_parameters in the following order: nread, dPSI, adjp, direction"
params.PSI_Sigma_prep.chromosome_list =  "chr1,chr2,chr3,chr4,chr5,chr6,chr7,chr8,chr9,chr10,chr11,chr12,chr13,chr14,chr15,chr16,chr17,chr18,chr19,chr20,chr21,chr22,chrX,chrY,chrMT"  //* @input @title:"Chromosome List" @description:"comma separeted chromosome List for create-db"

// Process Parameters for prepare_groups:
params.prepare_groups.all_groups_path =  ""  //* @input @description:"Path of the all_groups file"

// Pipeline Config:
$HOSTNAME='default'
