

// Process Parameters:

// Process Parameters for prepare_groups:
params.prepare_groups.all_groups_path =  ""  //* @input @description:"Path of the all_groups file"

// Process Parameters for PSI_Sigma_prep:
params.PSI_Sigma_prep.generate_sequence_logos =  "yes"  //* @dropdown @options:"yes","no"
params.PSI_Sigma_prep.PSI_sigma_parameters =  "--nread 10 --type 1 --irmode 0 --skipratio 0.05 --denominator 1 --irrange 10 --adjp 0 --fmode 3 --variance 0"  //* @input @description:"PSI sigma parameters"
params.PSI_Sigma_prep.gct_parameters =  "10 20 0.05 greater"  //* @input @description:"gct_parameters in the following order: nread, dPSI, adjp, direction"
params.PSI_Sigma_prep.chromosome_list =  "1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,X,Y,MT"  //* @input @title:"Chromosome List" @description:"comma separeted chromosome List for create-db"

// Process Parameters for generate_gene_and_cluster_tables:
params.generate_gene_and_cluster_tables.minimum_number_of_samples =  "2"  //* @input @description:"minimum number of samples for gene cluster scripts"

// Process Parameters for generate_gene_and_cluster_tables_stringtie:
params.generate_gene_and_cluster_tables_stringtie.minimum_number_of_samples =  "2"  //* @input @description:"minimum number of samples for gene cluster scripts"

// Pipeline Config:
$HOSTNAME='default'
